<% @entries.sample(1).each do |entry| %>
    <div class="col-md-9">
        <p class="dark-grey-text">
          <a> 
            <strong> 
                <%= link_to entry.title, entry_path(entry) %>            
            </strong>
            </a>
        </p>
        <p> 
            <%= sanitize entry.summary %>
        </p>
    </div>
<% end %>