<% @entries.sample(1).each do |entry| %>
    <div class="col-md-9">
        <p class="dark-grey-text">
            <strong><%= published entry %></strong>
            <br><br>
            <a> 
                <%= link_to entry.title, entry_path(entry) %>
                <i class="fas fa-angle-right float-right"></i>
            </a>
        </p>
    </div>
    <hr>
<% end %>

