  <%= form_for [ @entry, @note ] do |f| %>
    <p>
      <%= f.label :content, "Your Note" %><br/>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit 'Submit Note' %>
    </p>
  <% end %>
